.Footer{
    padding: 3%;
   
}
footer{
    margin: 2%;
    text-align: center;
}
.description{
    text-align: center;
}
.left a{
    margin-top: 5%;
    
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    
}
.left{
    margin-left: 25%;

    text-align: center;
}

.centre{
    margin-left: 17%;
    
    text-align: center;
}
.right{
    margin-left: 12%;
    text-align: center;
}